<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://kit.fontawesome.com/77b777f4e2.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" href="/includes/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="home" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-regular fa-house"></i>
                    <span>Home</span>
                </a>
                <a href="reports" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-regular fa-message-exclamation"></i>
                    <span>My reports</span>
                </a>
                <a href="map" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-regular fa-map-location-dot"></i>
                    <span>Map</span>
                </a>
                <a href="usersList" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-regular fa-users"></i>
                    <span>Users</span>
                </a>
                <a href="report" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fa-regular fa-location-plus"></i>
                    <span>Report</span>
                </a>
                <a href="contact" class="list-group-item list-group-item-action py-2 ripple mb-4">
                    <i class="fa-regular fa-messages"></i>
                    <span>Contact us</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="shift">
        <div class="row wrapper">
            <div class="col d-flex align-items-center">
                <a class="navbar-brand logo" href="/home"></a>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="dropdown notification-list">
                    <a class="nav-link nav-user justify-content-center" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
              <span class="account-user-avatar">
                <img src="<%=  user.image.secureUrl %>" alt="user-image" id="user-image" class="rounded-circle">
              </span>
                        <span>
                <span id="user-name"><%= user.firstName + " " +  user.lastName %></span>
              </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Hey there</h6>
                        </div>
                        <a href="profile" class="dropdown-item notify-item">
                            <span><i class="fa-regular fa-user"></i></span>
                            <span>Profile</span>
                        </a>
                        <a href="/session/logout" class="dropdown-item notify-item">
                            <span><i class="fa-regular fa-right-from-bracket"></i></span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<div class="main shift" >
    <div class="wrapper">
        <h1>Report!</h1>
        <div class="dash board justify-content-center">
            <form id="form">
                <div class="card container mb-5 pt-5 w-100">
                    <div class="add-icon">
                        <i class="fa-regular fa-plus"></i>
                    </div>
                    <div class="des-loc mt-4">
                        <div class="form-floating des">
                            <textarea class="form-control" id="description" placeholder="First name" required></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="loc">
                            <div>
                                <p>Location</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="location" id="auto-location" checked>
                                    <label class="form-check-label" for="auto-location">
                                        Auto
                                    </label>
                                </div>
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="radio" name="location" id="flexRadioDefault2">-->
<!--                                    <label class="form-check-label" for="flexRadioDefault2">-->
<!--                                        Default checked radio-->
<!--                                    </label>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>

                    <hr>
                    <button type="button" id="add-image" class="btn btn-light mb-3">Add image</button>
                    <div class="row photo mb-2">
                        <div class="form-floating p-0 mr-3">
                            <input type="file" class="form-control sign-up-inputs" id="image-0" onchange="FileInput(0)" accept="image/*" placeholder="image" required>
                            <label for="image-0">Image of the place</label>
                        </div>
                        <img id="load-image-0" src="https://www.chanchao.com.tw/images/default.jpg">
                    </div>
                    <div id="photos"></div>
                    <hr>
                    <div class="center">
                        <button type="submit">add report</button>
                    </div>
                </div>
                <div class="container mb-5 p-0 report-form-map">
                    <div id="map"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="shift">
        <div class="row wrapper">
            <div class="col-md-6">
                <p>&copy;Accessibility team. 2023 all rights reserved</p>
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="javascript: void(0);">About</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYDc6rLDzRHgw9zSwPGEwDSKGCKHIPIQA&libraries=places&callback=Function.prototype"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script src="/js/addReport.js"></script>
</body>
</html>